body {
  text-align: center;
  height: 100vh;
}

.auth-container {
  margin: 8rem 36rem;
  background: #b1b1b1;
  padding: 2rem;
}

html {
  scroll-behavior: smooth;
}

textarea {
  resize: none;
}

.project-containers {
  width: 400px;
  margin: 0 auto 30px auto;
}

.project-cards {
  border: 1px solid black;

}

.project-images {
  width: 300px;
}

.project-image-drops {
  width: 500px;
  margin: 0 auto;
}

.skill-images {
  width: 25px;
  display: inline;
}
