body {
  text-align: center;
  height: 100vh;
}

.auth-container {
  margin: 8rem 36rem;
  background: #b1b1b1;
  padding: 2rem;
}

html {
  scroll-behavior: smooth;
}

textarea {
  resize: none;
}

#projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-containers {
  width: 400px;
  margin: 0 auto 30px auto;
}

.projects-not-live {
  background-color: #565656b0
}

.project-cards {
  border: 1px solid black;

}

.project-images {
  width: 300px;
}

.close-modal-buttons{
  width: 25px;
  cursor: pointer;
}

.form-containers {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  overflow: scroll;
}

.form-containers::-webkit-scrollbar {
  display: none;
}

.form-titles {
  margin-top: 0;
  text-decoration: underline;
}

.project-form-titles {
  width: 98%;
  margin-bottom: 5px;
  font-size: 24px;
}

.project-form-descriptions {
  width: 98%;
  font-size: 16px;
}

.project-image-drops {
  color: grey;
  margin-bottom: 5px;
}

.project-form-links-containers, .project-form-deployment-info-containers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

}

.project-form-links {
  font-size: 16px;
  width: 48%;
}

.project-form-deployment-date {
  font-size: 14px;
  width: 48%;
}

.project-form-deployment-live {
  font-size: 18px;
  width: 48%;
}

.project-form-category-containers, .project-form-skill-containers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-form-submit-buttons-containers {
  margin-top: 30px;
  width: center;
  text-align: center;
}
.project-form-submit-buttons {
  font-size: 24px;
}

.skill-images {
  width: 25px;
  display: inline;
}
