body {
  text-align: center;
  height: 100vh;
}

.auth-container {
  margin: 8rem 36rem;
  background: #b1b1b1;
  padding: 2rem;
}

html {
  scroll-behavior: smooth;
}

textarea {
  resize: none;
}

#projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-containers {
  width: 400px;
  margin: 0 auto 30px auto;
}

.projects-not-live {
  background-color: #565656b0
}

.project-cards {
  border: 1px solid black;

}

.project-images {
  width: 300px;
}

.close-modal-buttons{
  width: 25px;
  cursor: pointer;
}

.form-containers {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  overflow: scroll;
}

.form-containers::-webkit-scrollbar {
  display: none;
}

.form-titles {
  margin-top: 0;
  text-decoration: underline;
}

.category-containers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-image-drops {

}

.skill-images {
  width: 25px;
  display: inline;
}
